<h1 mat-dialog-title *ngIf="!!data.title">{{data.title}}</h1>

<div mat-dialog-content style="text-align: justify; text-justify: inter-word;">
  {{ data.body }}
</div>
<div class="text-center">
  <button type="button" id="btnSave" mat-button class="btn btn-pk-primary" [mat-dialog-close]="true" cdkFocusInitial><i class="fa fa-trash"  aria-hidden="true"></i> Aceptar</button>
  <button type="button" id="btnCancel" mat-button (click)="onNoClick()" class="btn btn-pk-primary"><i class="fa fa-times"></i> Cancelar</button>
</div>
